@charset "utf-8";

// bourbon 믹스인
@import "../bourbon/bourbon";
// Scss 변수 (Variables: $)
@import "../parts/variables";
// Scss 믹스인(Mixins)
@import "../parts/mixins";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


.Landing {
    $visual-ht: 500px;
    $red: #e4295b;
    $green: #15b1ab;
    * {
        font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; 
        figure {
            @include bx;
            display: block;
            line-height: 0;
            img {
                @include bx;
                max-width: 100%;
                line-height: 0;
            }
        }
    }
    // 기본 아산피나클랜드
    /* 탭 */
    .ld-tab-sect {
        z-index: 98;
        @include position(absolute, ($visual-ht+100), 0);
        width: 100%;
        background: $red;
        &:before {
            content: '';
            @include position(absolute, $left:50%, $bottom:0);
            display: block;
            width: 50%;
            height: 100%;
            background: $green;
        }
        .ld-tab-list {
            @include bx;
            @include clearfix;
            width: 1200px;
            margin: 0 auto;
            li {
                @include bx;
                cursor: pointer;
                float: left;
                display: table;
                width: 50%;
                height: 70px;
                margin: 0 auto;
                text-align: center;
                background: $red;
                p {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    a {
                        @include bx;
                        display: inline-block;
                    }
                }
                
                &.on {
                    p {
                        &:before {
                            z-index: 99;
                            content: '';
                            @include position(absolute, $left:50%, $bottom:-35px);
                            display: block;
                            width: 0;
                            height: 0;
                            margin-left: -20px;
                            border: 20px solid transparent; 
                            border-top: 15px solid $red; 
                        }
                        a {
                            &:before {
                                content: '';
                                @include position(absolute, $left:0, $bottom:0);
                                display: block;
                                width: 100%;
                                height: 2px;
                                background: #fff;
                            }
                            img {
                            }
                        }
                    }
                }
                
                &.spa {
                    background: $green;
                    &.on {
                        p {
                            &:before {
                                border-top-color: $green;
                            }
                        }
                    }
                }
            }
        }
        
        &.on {
            position: fixed;
            top: 0;
            box-shadow: 0 10px 13px 5px rgba(255, 255, 255, 0.8);
            /*.ie8 & {
                -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=135, Color='#ffffff')";
                filter: progid:DXImageTransform.Microsoft.Shadow(Strength=25, Direction=135, Color='#ffffff');
            }*/
        }
    }
    
    /* 내용 */
    .ld-sect {
        .ld-visual {
            @include bx;
            height: $visual-ht;
            background: url(http://img.ramadapt.co.kr/landing/pina/visual.jpg) no-repeat center;
            background-size: auto $visual-ht;
        }
        
        div[class*='-area'] {
            @include bx;
            @include clearfix;
            .container {
                @include bx;
                @include clearfix;
                width: 1060px;
                text-align: center;
                margin: 0 auto;
            }
        }
        
        .ld-cont {
            @include bx;
            margin-top: 70px;
            .ld-tit {
                
            }
            .ld-sub-tit {
                padding: 17px 0 25px;
                font-size: 26px;
                font-weight: 400;
                line-height: 35px;
                color: #515151;
                em {
                    font-weight: bold;
                    color: $red;
                }
            }
            /* 지도 */
            .ld-map-area {
                z-index: 2;
                padding: 78px 0;
            }
            
            /* 예약하기 */
            .ld-rest-area {
                z-index: 1;
                margin-top: -365px;
                padding: 365px 0 95px;
                background: #f9e3e5;
                .ld-rest-box {
                    @include bx;
                    @include clearfix;
                    margin-top: 30px;
                    
                    .btn-link {
                        float: right;
                        
                        &:first-child {
                            float: left;
                        }
                    }
                }
                
                .ie8 & {
                    min-height: 1008px;
                }
            }
            
            /* 리스트 */
            .ld-list-area {
                @include bx;
                @include clearfix;
                background: #d7fafe;
            }
            
            /* 버튼 */
            .ld-btn-area {
                @include bx;
                padding: 50px 0;
                .ld-btn-box {
                    @include bx;
                    @include clearfix;
                    
                    .btn-link {
                        float: right;
                        
                        &:first-child {
                            float: left;
                        }
                    }
                }
            }
        }
        
        &.pina {
            .ld-cont {
                /* 가이드 */
                .ld-guide-area {
                    padding: 43px 0 79px;
                    background: #f0f0f0;
                    figure {
                        img {
                            border: 1px solid #d2d2d2;
                        }
                    }
                    .ld-guide-img-box {
                        @include bx;
                        @include clearfix;

                        .img-big {
                            float: left;
                            display: inline-block;
                        }

                        .img-small {
                            float: right;
                            display: inline-block;
                            figure + figure {
                                margin-top: 13px;
                            }
                        }
                    }
                    .ld-guide-txt-box {
                        @include bx;
                        @include clearfix;
                        margin-top: 18px;

                        .ld-guide-img {
                            float: left;
                            display: inline-block;
                        }

                        .ld-guide-txt {
                            @include bx;
                            @include clearfix;
                            float: right;
                            width: 380px;
                            .ld-guide-list {
                                @include bx;
                                float: left;
                                width: 50%;
                                text-align: left;
                                border-top: 1px solid #c0c0c0;
                                border-right: 1px solid #c0c0c0;
                                li {
                                    @include bx;
                                    padding-left: 14px;
                                    height: 50px;
                                    font-size: 16px;
                                    line-height: 50px;
                                    letter-spacing: -0.7px;
                                    color: #333;
                                    border-bottom: 1px solid #c0c0c0;
                                    .ie &, .safari &, .firefox & {
                                        letter-spacing: -1.2px;
                                    }
                                }

                                &:first-child {
                                    border-left: 1px solid #c0c0c0;
                                }
                            }
                        }
                    }
                }
            
                /* 리스트 */
                .ld-list-area {
                    padding: 55px 0 70px;
                    .ld-list {
                        @include bx;
                        @include clearfix;
                        margin: 0 -10px;
                        li {
                            @include bx;
                            float: left;
                            width: 33.33333%;
                            padding: 25px 10px 0;
                            text-align: left;
                            .ld-list-img {
                                @include bx;
                                img {

                                }
                            }

                            .ld-list-txt-box {
                                @include bx;
                                padding-top: 8px;
                                min-height: 48px;
                                p {
                                    &.ld-list-tit {
                                        font-size: 20px;
                                        line-height: 1;
                                        font-weight: bold;
                                        color: #323232;
                                    }
                                    &.ld-list-txt {
                                        font-size: 16px;
                                        line-height: 1.3;
                                        font-weight: 500;
                                        color: #018981;
                                        
                                        .ie8 &, .safari & {
                                            letter-spacing: -1.2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.spa {
            .ld-visual {
                background: url(http://img.ramadapt.co.kr/landing/spa/visual.jpg) no-repeat center;
                background-size: auto $visual-ht;
            }

            .ld-cont {
                .ld-sub-tit {
                    em {
                        color: #0b9691;
                    }
                }
                
                .ld-rest-area {
                    background: #c9faf8;
                }
                
                .ld-bn-area {
                    background: #25c3bd;
                }
                
                .ld-list-area {
                    padding: 40px 0 70px;
                    .ld-list {
                        li {
                            @include bx;
                            @include clearfix;
                            padding-top: 40px;
                            .ld-list-img-box{
                                @include bx;
                                @include clearfix;
                                figure {
                                    float: right;
                                    &:first-child {
                                        float: left;
                                    }
                                }
                            }
                            .ld-list-txt-box {
                                p {
                                    &.ld-list-tit {
                                        padding: 16px 0 5px;
                                        font-size: 28px;
                                        font-weight: bold;
                                        line-height: 1;
                                        color: #0a908b;
                                    }
                                    &.ld-list-txt {
                                        font-size: 20px;
                                        line-height: 25px;
                                        color: #555;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}