@charset 'utf-8';
@import '../parts/common';

#content {
    // margin-bottom:20px;
    // padding-top: 56px;
    // background: #fff;
}

#content #content {
    padding-top: 0;
}

/* .Main #content {
	margin-bottom: 0;
} */

#content {
    .main {
        // @include pos(absolute, 0, 0);
        // @include sizes(100%);

        .vid-wrap {
            //cursor: pointer;
            overflow: hidden;
            z-index: 991;
            position: relative;
            box-sizing: border-box;
            // width: 100%;
            // height: 100%;
            width: 100%;
            height: 1080px;
            background: #fff;

            .vid-bg {
                z-index: 996;
                position: relative;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                background: url(http://img.ramadapt.co.kr/main/bg_main_re.png) repeat;
            }

            .vid-area {
                z-index: 994;
                position: absolute;
                // position: relative;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;

                .video {
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    // width: 100%;
                    height: 100%;
                }

                &.m {
                    display: block;
                    top: 0;
                    background: url(http://img.ramadapt.co.kr/m/main/visual.jpg) no-repeat center;
                    background-size: cover;
                }
            }
        }


        .vid-txt-box {
            z-index: 997;
            position: absolute;
            box-sizing: border-box;
            display: table;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            margin: 0 auto;
            //margin-top: -210px;
            text-align: center;
            opacity: 0;
            transition: all 1s ease 0s;

            .vid-txt {
                position: relative;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

            .vid-txt img {
                position: relative;
                max-width: 280px;
                width: 75%;
                top: 25px;
            }

            &.active,
            &.on,
            &.end {
                opacity: 1;
            }
        }
    }
}