@@include('./include/_head.html', {
    "page": ""
})

</head>
<body class="Board">
    <div id="Contents">
        @@include('./include/_header.html')

        <div id="content">
            @@include('./include/_subVisual.html')
            <div id="sub_content" class="group">
                <div class="centerThis">
                    <div id="right_content">
                        <div id="pg_title">
                            <h2>공지사항</h2>
                            <div id="rocation">
                                <span><a href="index.html"><img src="http://img.ramadapt.co.kr/icon_home.gif" class="img"></a></span> &gt; <span class="last"><strong>공지사항</strong></span>
                            </div>
                            <!--//#rocation-->
                        </div>
                        <!--//#title_box-->
                        <table class="df_tb">
                            <colgroup>
                                <col width="15%">
                                <col width="35%">
                                <col width="15%">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제목</th>
                                    <td colspan="3">★ United States Forces Korea, Benefit★ </td>
                                </tr>
                                <tr>
                                    <th>작성일</th>
                                    <td>2018-04-25 13:52:05</td>
                                    <th>작성자</th>
                                    <td>관리자</td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td colspan="3">
                                        <div class="text">
                                            <p style="text-align:center">라마다 앙코르 평택입니다.</p>

                                            <p style="text-align:center">&nbsp;</p>

                                            <p style="text-align:center">당 호텔은&nbsp;</p>

                                            <p style="text-align:center"><span style="color:#c0392b"><span style="font-size:14px"><strong>Camp Humphreys (K-6) &amp; SONGTAN&nbsp;Air Base &amp; &nbsp;PYEONGTAEK&nbsp;Navy Base&nbsp;</strong></span></span>
                                            </p>

                                            <p style="text-align:center">&nbsp;</p>

                                            <p style="text-align:center">에 근무하시는<strong> <u>모든 주한미군 고객</u> </strong>들에게</p>

                                            <p style="text-align:center">다양한 혜택을 드리고 있습니다.</p>

                                            <p style="text-align:center">&nbsp;</p>

                                            <p style="text-align:center">&nbsp;</p>

                                            <p style="text-align:center">자세한 사항은 문의전화나 문의메일 주십시오.</p>

                                            <p style="text-align:center">&nbsp;</p>

                                            <p style="text-align:center">문의 ) 031- 229- 3600</p>

                                            <p style="text-align:center">MAIL 문의 ) ramadaencorept@gmail.com</p>

                                            <p style="text-align:center">&nbsp;</p>

                                            <p style="text-align:center">24시간 문의 가능합니다.</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>첨부파일</th>
                                    <td colspan="3"><a href="http://www.ramadaencorepyeongtaek.com/upload/" target="_blank"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_area tr">
                            <a href="board_list.html" class="md_btn">목록보기</a>
                        </div>
                    </div>
                    <!--//#right_content-->
                </div>
                <!-- //.centerThis -->
            </div>
            <!-- //#sub_content -->
        </div>
        <!-- //#content-->

        @@include('./include/_footer.html')
    </div>
</body>

</html>
