@@include('./include/_head.html', {
	"page": ""
})

	<!-- 별도 css, js 가져오기 -->
	<link rel="stylesheet" href="http://static.ramadapt.co.kr/css/landing/init.css">
	<script src="http://static.ramadapt.co.kr/js/landing/init.js"></script>
	<!-- <link rel="stylesheet" href="../../static/css/landing/init.css">
    <script src="../../static/js/landing/init.js"></script> -->

</head>
<body class="Booking">
	@@include('./include/_header.html')

    <div id="Contents">

        <div id="content">
			<div class="ld-tab-sect">
				<ul class="ld-tab-list">
					<li class="pina on"><p><a href=""><img src="http://img.ramadapt.co.kr/landing/menu_pina.png" alt="아산 피나클랜드"></a></p></li>
					<li class="spa"><p><a href=""><img src="http://img.ramadapt.co.kr/landing/menu_spa.png" alt="아산 스파비스"></a></p></li>
				</ul>
			</div>            
			
			<div id="ldPina" class="ld-sect pina" style="display: block;">
				<div class="ld-visual"></div>
				<div class="ld-cont">
					<div class="ld-map-area">
						<div class="container">
							<h2 class="ld-tit"><img src="http://img.ramadapt.co.kr/landing/pina/tit_01.png" alt="피나클랜드&라마다앙코르평택호텔"></h2>
							<p class="ld-sub-tit">라마다앙코르호텔은 <em>피나클랜드와 15분 거리에 위치</em>해 있습니다.<br>인근 최고의 룸컨디션과 좋은 가격으로 호텔 서비스를 제공해드립니다.</p>
						</div>
					</div>
				</div>
			</div>
			<div id="ldSpa" class="ld-sect spa" style="display: none;">
				<div class="ld-visual"></div>
				<div class="ld-cont">
					<div class="ld-map-area">
						<div class="container">
							<h2 class="ld-tit"><img src="http://img.ramadapt.co.kr/landing/spa/tit_01.png" alt="아산 스파비스&라마다앙코르평택호텔"></h2>
							<p class="ld-sub-tit">라마다앙코르호텔은 <em>아산 스파비스와 20분 거리에 위치</em>해 있습니다.<br>인근 최고의 룸컨디션과 좋은 가격으로 호텔 서비스를 제공해드립니다.</p>
						</div>
					</div> 
				</div>
			</div>
		</div>
		<!-- //#content-->
		<div class="banner-sect">
			<div class="area area-1">
				<figure><img src="http://img.ramadapt.co.kr/banner/right/landing_asan_bnr_ttl.png" alt="레저/티켓 할인예약하기"></figure>
				<ul class="bnr-list">
					<li class="on"><a href="#ldPina" class="bnr bnr01"></a></li>
					<li><a href="#ldSpa" class="bnr bnr02"></a></li>
				</ul>
			</div>
		</div>
		
		<style>
			.ld-sect .ld-cont .ld-map-area {padding-bottom: 0px;}
		</style>

        <!-- 예약페이지 가져오기 , 아래 부분은 개발단에서 작업 -->
        <div id="contents"></div>
        <!-- //#contents -->

		@@include('./include/_footer.html')
		
		<!-- 임시 스타일 적용시 제거-->
		<style>
			#contents {height:500px}
		</style>
    </div>
</body>

</html>
