@@include('./include/_head.html', {
	"page": ""
})

</head>
<body class="Gallery">

<div id="Contents">
	@@include('./include/_header.html')

	<div id="content">
		@@include('./include/_subVisual.html')
		<div id="sub_content" class="group">
            <div class="centerThis">
            	@@include('./include/gallery/_lnb.html')
            	
            	<script src="http://static.ramadapt.co.kr/js/jquery.bxslider.min.js"></script>
                <link href="http://static.ramadapt.co.kr/css/jquery.bxslider.css" rel="stylesheet" />
                <script>
                    $(document).ready(function() {
                        var slider = $('.bxslider').bxSlider({
                            auto: true,
                            mode: 'fade',
                        });
                        var slider_01 = $('.bxslider_01').bxSlider({
                            auto: true,
                            autoControls: true,
                            mode: 'vertical',
                        });
                        var slider_02 = $('.bxslider_02').bxSlider({
                            auto: true,
                            controls: false,
                            pagerCustom: '#bx-pager1'
                        });
                        var slider_03 = $('.bxslider_03').bxSlider({
                            auto: true,
                            controls: false,
                            pager: false,
                            maxSlides: 3,
                            moveSlides: 1,
                            slideWidth: 100,
                            slideMargin: 0,
                            autoHover: true,
                        });
                        // 클릭시 멈춤 현상 해결 //
                        $(document).on('click', '.bx-next, .bx-prev', function() {
                            slider.stopAuto();
                            slider.startAuto();
                            slider_01.stopAuto();
                            slider_01.startAuto();
                        });
                        $(document).on('mouseover', '.bx-pager, #bx-pager1', function() {
                            slider.stopAuto();
                            slider.startAuto();
                            slider_01.stopAuto();
                            slider_01.startAuto();
                            slider_02.stopAuto();
                            slider_02.startAuto();
                        });
                    });
                </script>
                <style>
                    /* 배너사이즈와 위치 */

                    #s_banner_wrap {
                        width: 750px;
                        height: 450px;
                        position: relative;
                        margin: 0px 0;
                    }

                    .banner_01 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_01.jpg");
                    }

                    .banner_02 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_02.jpg");
                    }

                    .banner_03 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_03.jpg");
                    }

                    .banner_04 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_04.jpg");
                    }

                    .banner_05 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_05.jpg");
                    }

                    .banner_06 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_06.jpg");
                    }

                    .banner_07 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_07.jpg");
                    }

                    .banner_08 {
                        width: 750px;
                        height: 450px;
                        background: url("http://img.ramadapt.co.kr/gall_02_01_08.jpg");
                    }
                </style>

                <div id="right_content">
                    <div id="pg_title">
                        <h2>디럭스 더블 / 테라스 더블</h2>
                        <div id="rocation">
                            <span><a href="index.html"><img src="http://img.ramadapt.co.kr/icon_home.gif" class="img"></a> 객실 안내 </span> &gt; <span class="last"><strong>디럭스 더블 / 테라스 더블</strong></span>
                        </div>
                        <!--//#rocation-->
                    </div>
                    <!--//#title_box-->
                    <div id="s_banner_wrap">
                        <ul class="bxslider">
                            <li class="banner_01"></li>
                            <li class="banner_02"></li>
                            <li class="banner_03"></li>
                            <li class="banner_04"></li>
                            <li class="banner_05"></li>
                            <li class="banner_06"></li>
                            <li class="banner_07"></li>
                            <li class="banner_08"></li>
                        </ul>
                    </div>

                    <div class="acco_info">
                        <p>아늑한 공간을 활용해 스마트하게 배치된 침구와 가구는 안정감과 세련됨을 연출하며, <br>업무와 휴식 의 만족을 동시에 선사합니다.</p>
                    </div>
                    <div id="acco_box">
                        <div class="acco_tbl">
                            <table class="df_tb">
                                <colgroup>
                                    <col width="150">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>침대타입</th>
                                        <td>퀸 사이즈 1개</td>
                                    </tr>
                                    <tr>
                                        <th>객실 뷰</th>
                                        <td>하버 뷰 / 시티 뷰</td>
                                    </tr>
                                    <tr>
                                        <th>수용인원</th>
                                        <td>2명</td>
                                    </tr>
                                    <tr>
                                        <th>크기</th>
                                        <td>23㎡</td>
                                    </tr>
                                    <tr>
                                        <th>공통사항</th>
                                        <td class="lh20">
                                            1. 초고속 무료 인터넷 및 wifi<br /> 2. 웰컴드링크 – 생수2병<br /> 3. 모닝콜 서비스<br /> 4. 최고급 욕실 어메니티<br /> 5. 필기류 제공<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>체크인</th>
                                        <td>15:00부터 입실 가능</td>
                                    </tr>
                                    <tr>
                                        <th>체크아웃</th>
                                        <td>11:00까지 퇴실</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="mgt20 cred">* 최대 수용인원 2인 기준이며, 인원추가 시 추가비용이 발생할 수 있습니다 </p>
                        </div>

                        <div class="req_box">
                            <p><a href="reservation.html">객실 예약하기</a></p>
                        </div>

                    </div>
                    <!--//#acco_box-->
                </div>
				<!--//#right_content-->
            </div>
        </div>
		
	</div>
	<!-- //#content-->

	@@include('./include/_footer.html') 
</div>

</body>
</html>