@@include('./include/_head.html', {
	"page": ""
})

</head>
<body class="Main">

<div id="Contents">
	@@include('./include/_header.html')

	<div id="content">
		<div id="visual">
			<div class="mainVisual">
				<div class="visualBg visualBg1">
					<div class="centerThis tc">
                        <hr class="sun">
						<h2>Welcome To <br> RAMADA ENCORE HOTEL</h2>
						<h3>"아름다운 라마다평택호텔 앙코르에서 소중한 추억을 만들어보세요"</h3>
						<!-- <h4>서해대교의 석양을 바라보며 바쁜 하루를 마무리 하실 수 있도록<br />저희 라마다앙코르평택호텔은 여러분의 편안한 안식처가 되어 드리겠습니다.</h4> -->
						<a href="/facil/" class="link">
							<span>조식부페, 레스토랑 등</span>
							<span>내부시설 둘러보기</span>
						</a>

						<div class="weather">
		                    <div class="area">
		                        <div class="inner">
		                            <span class="s-1">2019.01.22 (화)</span>
		                            <span class="s-2">속초의 오늘 <span class="t-1">▷</span> 맑음</span>
		                            <span class="s-3"><span class="big">7</span><span class="c">℃</span></span>
		                            <span class="s-4">
										<img src="http://img.sampobeach.co.kr/weather/finedust.png" alt="미세먼지">
										<span class="txt-dust">미세먼지 - <span class="grade">보통</span></span>
									</span>
		                        </div>
		                        <img src="http://img.sampobeach.co.kr/weather/clear.png" alt="날씨">
		                    </div>
		                </div>
		                <!-- //.weather -->
					</div>
				</div>
				<div class="controller">
					<div class="btns">
						<a class="prev" href="javascript:;"><img src="http://img.ramadapt.co.kr/ar_prev.png" alt="이전"></a><!-- 마우스 오버시 이미지 _on -->
						<a class="next" href="javascript:;"><img src="http://img.ramadapt.co.kr/ar_next.png" alt="다음"></a><!-- 마우스 오버시 이미지 _on -->
					</div>
					<!--//btns -->
				</div>
				<!--//controller -->
				<div class="controller2">
					<div class="rollBtnD">
						<a href="#" onmouseover="javascript:;" class="rollBtn on"><img src="#"></a>
						<a href="#" onMouseover="javascript:;"><img src="#"></a>
					</div>
					<!--//rollBtnD -->
				</div>
				<!--//controller -->
			</div>
			<!--//mainVisual -->
		</div>
		<!--//#visual-->
		<div id="main_event">
            <div class="centerThis">
                <div class="evt-area clr">
                    <figure class="evt-img"><img src="http://img.ramadapt.co.kr/main_evt_bf.jpg" alt="조식 이미지"></figure>
                    <div class="evt-box">
                        <p class="evt-tit">[이벤트] 주중 투숙객 무료조식 제공 및 주말 유료조식 할인!</p>
                        <ul class="evt-list">
                            <li>
                                <p class="evt-list-tit">1. 주중 무료조식 (월~금요일/평일기준)</p>
                                <dl class="evt-list-box">
                                    <dt>메뉴</dt>
                                    <dd>빵3종, 주스2종, 우유, 잼3종, 씨리얼3종, 소세지볶음, 스프, 밥, 국, 김치</dd>
                                </dl>
                            </li>
                            <li>
                                <p class="evt-list-tit">2. 주말 유료조식 (토/일, 공휴일) </p>
                                <dl class="evt-list-box">
                                    <dt>메뉴</dt>
                                    <dd>아메리칸조식뷔페 풀패키지</dd>
                                </dl>
                                <dl class="evt-list-box">
                                    <dt>이용요금</dt>
                                    <dd>대인(8세 이상) 15,000원 → (할인가) 12,000원<br>소인(7세 이하~36개월 이상) 12,000원 → (할인가) 9,900원</dd>
                                </dl>
                            </li>
                        </ul>
                        <p class="evt-txt">※ 조식뷔페는 주중(월~금)은 무료, 주말(토/일,공휴일)은 유료로 운영합니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--//#main_event-->
		<div id="main_notice" class="type-2">
			<div class="centerThis group type-2">
				<div class="cli01">
					<ul class="cont_group">
						<li class="cont_title">디럭스 더블</li>
						<li class="cont_img"><img src="http://img.ramadapt.co.kr/cont_img_01.gif" /></li>
						<li class="cont_detail">
							<a href="gallery_1.html">룸정보 자세히 보기</a>
						</li>
						<li class="cont_reservation">
							<a href="reservation.html">예약하기</a>
						</li>
					</ul>
				</div>
				<div class="cli02">
					<ul class="cont_group">
						<li class="cont_title">디럭스 트윈</li>
						<li class="cont_img"><img src="http://img.ramadapt.co.kr/cont_img_02.gif" /></li>
						<li class="cont_detail">
							<a href="gallery_1.html">룸정보 자세히 보기</a>
						</li>
						<li class="cont_reservation">
							<a href="reservation.html">예약하기</a>
						</li>
					</ul>
				</div>
				<div class="cli03">
					<ul class="cont_group">
						<li class="cont_title">디럭스 수퍼더블</li>
						<li class="cont_img"><img src="http://img.ramadapt.co.kr/gall_s1_01_01.jpg" /></li>
						<li class="cont_detail">
							<a href="gallery_3.html">룸정보 자세히보기</a>
						</li>
						<li class="cont_reservation">
							<a href="reservation.html">예약하기</a>
						</li>
					</ul>
				</div>
				<div class="cli04">
					<ul class="cont_group">
						<li class="cont_title">트리플 룸</li>
						<li class="cont_img"><img src="http://img.ramadapt.co.kr/cont_img_03.gif" /></li>
						<li class="cont_detail">
							<a href="gallery_3.html">룸정보 자세히보기</a>
						</li>
						<li class="cont_reservation">
							<a href="reservation.html">예약하기</a>
						</li>
					</ul>
				</div>
				<div class="cli05">
					<ul class="cont_group">
						<li class="cont_title">스위트</li>
						<li class="cont_img"><img src="http://img.ramadapt.co.kr/cont_img_04.gif" /></li>
						<li class="cont_detail">
							<a href="gallery_4.html">룸정보 자세히보기</a>
						</li>
						<li class="cont_reservation">
							<a href="reservation.html">예약하기</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="centerThis">
				<div class="group suttle_usa">
					<div class="split split-1">
						<p class="p-1">
							<span class="s-1">무료 셔틀버스 상시운행 노선</span>
							<span class="s-2">(호텔 ↔ 미군 캠프험프리스 "Camp Humphreys" / 30분 소요, 21km)</span>
						</p>
						<p class="p-2">
							<span class="s-row"><span class="dot">●</span> 호텔 (아침 07:30 출발) → 캠프험프리스 (아침 08:05 도착)</span>
							<span class="s-row"><span class="dot">●</span> 캠프험프리스 (오후 17:30 출발) → 호텔 (오후 18:05 도착)</span>
							<span class="s-row"><span class="dot">※</span> 본 셔틀버스는 이용 전 반드시 프론트에 문의하여 주십시오.</span>
						</p>
					</div>
					<div class="split split-2">
						<ul class="cont_bbs">
							<li class="cont_title">포승상단 무료 통근버스</li>
                            <li class="cont_txt">
                                <p><a href="http://img.ramadapt.co.kr/location/suttle_short.jpg" target="_blank"><span>▶</span> 근거리 버스 안내</a></p>
                                <p><a href="http://img.ramadapt.co.kr/location/suttle_long.jpg" target="_blank"><span>▶</span> 원거리 버스 안내</a></p>
                            </li>
						</ul>
					</div>
				</div>
				<!-- //.suttle_usa -->

			</div>
		</div>
		<!--//#main_notice-->
	</div>
	<!-- //#content-->

	@@include('./include/_footer.html') 
</div>

</body>
</html>