@@include('./include/_head.html', {
	"page": ""
})

</head>
<body class="Intro">

<div id="Contents">
	@@include('./include/_header.html')

	<div id="content">
		@@include('./include/_subVisual.html')
		<div id="sub_content" class="group">
            <div class="centerThis">
            	@@include('./include/intro/_lnb.html')
            	<div id="right_content">
					<div id="pg_title">
						<h2>찾아오시는길</h2>
						<div id="rocation">
							<span><a href="/index.html"><img src="http://img.ramadapt.co.kr/icon_home.gif" class="img"></a> 호텔 소개 </span> &gt; <span class="last"><strong>찾아오시는길</strong></span>
						</div>
						<!--//#rocation-->
					</div>
					<!--//#title_box-->
					<div id="company01">
						<!--<h2><strong class="cgreen">(주)오라인포</strong>의 <strong class="cblue">오시는 길</strong>을 안내해 드립니다.</h2>-->
						<div class="cp_map">

                            <!--
                            	* Daum 지도 - 약도서비스
                            	* 한 페이지 내에 약도를 2개 이상 넣을 경우에는
                            	* 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
                            -->
                            <!-- 1. 약도 노드 -->
                            <div id="daumRoughmapContainer1489646254821" class="root_daum_roughmap root_daum_roughmap_landing"></div>

                            <!-- 2. 설치 스크립트 -->
                            <script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>

                            <!-- 3. 실행 스크립트 -->
                            <script charset="UTF-8">
                            	new daum.roughmap.Lander({
                            		"timestamp" : "1489646254821",
                            		"key" : "gkp5",
                            		"mapWidth" : "750",
                            		"mapHeight" : "400"
                            	}).render();
                            </script>

						</div>
						<!--//.cp_map-->

            			<p class="tb_title mgt40">
                            주차장 안내
                        </p>
                        <table class="df_tb">
                            <colgroup>
                                <col width="150">
                                    <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제 2 주차장</th>
                                    <td>
                                        경기도 평택시 포승읍 평택항로184번길 4-9<br>
                                        (지번주소: 경기도 평택시 포승읍 만호리 577-1)
                                    </td>
                                </tr>
                                <tr>
                                    <th>제 3 주차장<br>(평택옥)</th>
                                    <td>
                                        경기도 평택시 포승읍 평택항로184번길 12-12<br>
                                        (지번주소: 경기도 평택시 포승읍 만호리 577-7)
                                    </td>
                                </tr>
                                <tr>
                                    <th>제 4 주차장<br>(평택옥)</th>
                                    <td>
                                        경기도 평택시 포승읍 평택항로184번길 12-10<br>
                                        (지번주소: 경기도 평택시 포승읍 만호리 577-8)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <p class="tb_title mgt40">
                            호텔 정보
                        </p>
                        <table class="df_tb">
                            <colgroup>
                                <col width="150">
                                    <col width="*">
                            </colgroup>
                            <tbody>
                                <!-- <tr>
                                    <th>도보</th>
                                    <td>평택항 호텔 정류장 하자 - 도보 200m</td>
                                </tr>
                                                                    <tr>
                                                                        <th>철도</th>
                                                                        <td>SRT 수서역 &gt; 지제역(20분 소요) &gt; 라마다앙코르평택호텔(25분 소요)</td>
                                                                    </tr>
                                <tr>
                                    <th>버스</th>
                                    <td>좌석버스 810 / 일반버스 81-1, 302</td>
                                </tr> -->
                                <tr>
                                    <th>도로명주소</th>
                                    <td>경기도 평택시 포승읍 평택항로 184번길 3-10</td>
                                </tr>
                                <tr>
                                    <th>지번주소</th>
                                    <td>경기도 평택시 포승읍 만호리 574-3번지</td>
                                </tr>
                                <tr>
                                    <th>대표번호</th>
                                    <td><strong class="cred"> / 031-229-3601(프런트), 1666-1243(예약실)<strong></strong></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th>주변버스 정류장</th>
                                    <td>
                                        <strong class="cred">기업은행앞(포승공단지점)에 하차</strong> / 정류장번호 48316 <a href="http://dmaps.kr/dsokq" target="_blank"><strong class="cred">[정류장 지도보기 ▶]</strong></a>
                                        <br>
                                        - 시내버스 : 81-1, 302, 810, 92-1번  / 시외버스 : 8154번
                                        <br>
                                        - 기업은행 앞 정류장 하차 후 골목길 진입 후(파출소 반대방향) 4거리에서 GS25 옆, 미니스톱 다음에 위치
                                        <br>&nbsp;&nbsp;(총 100미터 거리 / 도보 2분)
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="tb_title mgt30">무료 셔틀버스</p>
                        <div class="map_box">
                            <h1>무료 상시운행 (호텔 ↔ 미군 캠프험프리스 "Camp Humphreys" / 30분 소요, 21km)</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                오전 - 호텔 (아침 07:30 출발) → 캠프험프리스 (아침 08:05 도착)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                오후 - 캠프험프리스 (오후 17:30 출발) → 호텔 (오후 18:05 도착)
                            </p>
                            <p class="p-dot">
                                <span class="dot">※</span>
                                이외 시간에 차량요청시 별도의 요금이 필요합니다. 프론트로 문의해주세요. 
                            </p>
                        </div>


                        <p class="tb_title mgt30">
                            서울에서 오시는 길
                        </p>
                        <div class="map_box">
                            <h1>추천 경로</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                수서역 SRT 이용 → 지제역 하차 후 택시 → 호텔도착 (40분)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                서울역 KTX, 무궁화, ITX, 새마을, 누리로 이용 → 평택역 하차 후 택시 → 호텔도착 (1시간)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                서울 남부터미널 버스 → 평택항 하차 (2시간) → 호텔도착 (택시 5분)
                            </p>

                            <h1>자가용 이용</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                서울동부 - 경부고속도로 → 평택제천고속도로 → 남북대로 → 호텔도착 (1시간) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                서울서부 - 제2경인고속도로 → 서해안고속도로 → 호텔도착 (1시간) 
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                수서역 SRT → 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 → 호텔도착 (2시간) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                서울역 1호선 → 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 → 호텔도착  (1시간 50분) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                서울 남부터미널 시외버스 8154번 버스 → 기업은행 정류장 하차 → 호텔도착 (1시간 50분)  
                                <img src="http://img.ramadapt.co.kr/img_8154bus_pc.png" class="dot-img" alt="남부터미널 8154번 버스 이용시간">
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                서울 동서울터미널 시외버스 8254번 버스 → 기업은행 정류장 하차 → 호텔도착 (2시간 30분) 
                            </p>
                        </div>

                        <p class="tb_title mgt30">
                            김포국제공항에서 오시는 길
                        </p>
                        <div class="map_box">
                            <h1>추천경로</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>  
                                김포공항에서 택시이동 → 호텔도착 (1시간 20분)
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                지하철9호선 김포공항역 → 지하철3호선 고속터미널역 → 시외버스 8154(서울남부터미널) → 기업은행 정류장 하차 → 호텔도착 (3시간) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                지하철5호선 김포공항역 → 지하철1호선 신길역 → 좌석버스 810(지제역) → 평택항호텔 정류장 하차 → 호텔도착 (3시간 20분) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                지하철5호선 김포공항역 → 지하철1호선 신길역 → 일반버스 302(서정리역) → 평택항호텔 정류장 하차 → 호텔도착 (3시간 40분) 
                            </p>                                
                        </div>

                        <p class="tb_title mgt30">
                            인천국제공항에서 오시는 길
                        </p>
                        <div class="map_box">
                            <h1>추천경로</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>  
                                인천국제공항에서 택시이동 → 호텔도착 (1시간 5분)
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>  
                                인천국제공항역 → 지하철4호선 서울역 → 지하철3호선 충무로역 → 시외버스 8154(서울남부터미널) → 기업은행 정류장 하차 → 호텔도착 (3시간 20분) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>  
                                공항버스 8834(인천국제공항 1층 입국장) → 시외버스 8154(송탄버스터미널입구) → 기업은행 정류장 하차 → 호텔도착 (3시간) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>  
                                인천국제공항역 → 지하철2호선 홍대입구역 → 지하철1호선 신도림역 → 좌석버스 810(지제역) → 평택항호텔 정류장 하차 → 호텔도착 (4시간) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>  
                                인천국제공항역 → 지하철2호선 홍대입구역 → 지하철1호선 신도림역 → 일반버스 302(서정리역) → 평택항호텔 정류장 하차 → 호텔도착 (4시간 10분) 
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>  
                                공항버스 8822(인천국제공항 1층 입국장) → 일반버스 81-1(안중공용터미널) → 평택항호텔 정류장 하차 → 호텔도착 (3시간 10분) 
                            </p>
                        </div>
                        <p class="tb_title mgt30">
                            인천에서 오시는 길
                        </p>
                        <div class="map_box">
                            <h1>자가용 이용</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                제2경인고속도로 → 영동고속도로 → 평택시흥고속도로 → 서해안고속도로 → 호텔도착 (55분)
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                인천종합터미널 시외버스 8815번 승차 후 청북읍사무소, 신포정류장 하차 → 청북읍사무소, 신포정류장 시외버스 8154번 승차 후 기업은행정류장 하차 → 호텔도착 (1시간 22분)
                            </p>
                        </div>

                        <p class="tb_title mgt30">대전에서 오시는 길</p>
                        <div class="map_box">
                            <h1>자가용 이용</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                경부고속도로 → 논산천안고속도로 → 서평택IC 포승평택항 방면 → 호텔도착 (1시간 38분)
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                대전복합터미널 → 평택공용버스터미널 → 평택시외버스터미널 8340 시외버스 → 안중버스터미널 하차 후 810번 승차 → 기업은행정류장 하차 → 호텔도착 (2시간 3분)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                대전역 SRT  → 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 (2시간 7분)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                대전복합터미널 → 기지시정류소 하차 → 기지시 정류장 8340 시외버스 승차 후 안중버스터미널 정류장 하차 → 안중공용터미널정류장 810번 승차후 기업은행정류장 하차 → 호텔도착 (2시간 33분)
                            </p>
                        </div>

                        <p class="tb_title mgt30">대구에서 오시는 길</p>
                        <div class="map_box">
                            <h1>자가용 이용</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                경부고속도로 → 중부내륙고속도로 → 당진영덕고속도로 → 경부고속도로 → 논산천안고속도로 → 호텔도착 (3시간)
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                동대구역 SRT → 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 → 호텔도착 (2시간 39분)
                            </p>
                        </div>

                        <p class="tb_title mgt30">광주에서 오시는 길</p>
                        <div class="map_box">
                            <h1>자가용 이용</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                순천완주고속도로 → 호남고속도로 → 당진영덕고속도로 → 호텔도착 (2시간)
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                익산역 SRT → 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 → 호텔도착 (3시간 15분)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                여천역 KTX → 익산역 하차 → 익산역 SRT → 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 → 호텔도착 (3시간 20분)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                여천시외버스 정류장 → 천안고속버스터미널 하차 → 고속터미널정류장 14. 20. 81번 승차후 두정역푸르지오정류장 하차 → 1호선 두정역 전철 승차후 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 → 호텔도착 (3시간)
                            </p>
                        </div>

                        <p class="tb_title mgt30">부산에서 오시는 길</p>
                        <div class="map_box">
                            <h1>자가용 이용</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                경부고속도로 → 중부내륙고속도로 → 당진영덕고속도로 → 경부고속도로 → 논산천안고속도로 → 호텔도착 (4시간 10분 )
                            </p>
                            <h1>대중교통</h1>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                부산역 SRT → 지제역 하차 → 평택지제역 정류장 810번 승차 → 기업은행정류장하차 (3시간 15분)
                            </p>
                            <p class="p-dot">
                                <span class="dot">●</span>
                                부산역 KTX → 대전역 하차 후 무궁화 대전역 승차 → 평택역 하차 → 평택시외버스터미널 시외 8340버스 승차 후 안중공용터미널 정류장 하차 → 안중공용터미널 810번 승차후 기업은행정류장하차 → 호텔도착 (3시간 20분)
                            </p>
                        </div>
					</div>
					<!--//#company01-->
				</div>
				<!--//#right_content-->
            </div>
        </div>
		
	</div>
	<!-- //#content-->

	@@include('./include/_footer.html') 
</div>

</body>
</html>