@@include('./include/_head.html', {
	"page": ""
})

</head>
<body class="Intro">

<div id="Contents">
	@@include('./include/_header.html')

	<div id="content">
		@@include('./include/_subVisual.html')
		<div id="sub_content" class="group">
            <div class="centerThis">
            	@@include('./include/intro/_lnb.html')
            	<div id="right_content">
					<div id="pg_title">
						<h2>포인트적립</h2>
						<div id="rocation">
							<span><a href="/index.html"><img src="http://img.ramadapt.co.kr/icon_home.gif" class="img"></a> 호텔 소개 </span> &gt; <span class="last"><strong>포인트적립</strong></span>
						</div>
						<!--//#rocation-->
					</div>
					<!--//#title_box-->
					<div id="company04">
						<h1><img src="http://img.ramadapt.co.kr/company_img_04_01.jpg"></h1>
            			<p class="tb_title mgt30">
            				포인트적립 안내
            			</p>
            			<div class="info_box">
            				<p>1. 객실 사용 시 사용금액에 따른 포인트 적립</p>
            				<br>
            				<p>2. 전세계 윈덤 계열 8,000여개 호텔 무료 숙박 (라마다 플라자, 라마다 리조트, 라마다, 라마다 앙코르, 데이스인 등등)</p>
            				<br>
            				<p>3. 객실 업그레이드, Early check in, Late check out (호텔 사정에 따라 달라질 수 있습니다)</p>
            				<br>
            				<p>4. 항공사 마일리지 적립 가능</p>
            				<br>
            				<p>5. 직접(전화/이메일) 호텔 예약시 객실료 추가 할인</p>
            				<h2>예약문의 : 031-229-3600</h2>
            		   </div>
					</div>
				</div>
				<!--//#right_content-->
            </div>
        </div>
		
	</div>
	<!-- //#content-->

	@@include('./include/_footer.html') 
</div>

</body>
</html>