@@include('./include/_head.html', {
	"page": ""
})

	<!--페이지 전용 Css & Script-->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script> -->

</head>
<body class="Main">

<div id="Contents">
	@@include('./include/_header.html')

	<div id="content">
		
	</div>
	<!-- //#content-->

	@@include('./include/_footer.html') 
</div>

</body>
</html>