<div id="lnb_box">
    <div id="lnb">
        <h2><span>부대시설</span></h2>
        <ul>
            <li>
                <!-- 해당 페이지 이동시 on 클래스 추가 -->
                <a href="facil_1.html" class="">레스토랑</a>
            </li>
            <li>
                <a href="facil_2.html" >휘트니스</a>
            </li>
            <li>
                <a href="facil_3.html" >컨퍼런스룸</a>
            </li>
            <li>
                <a href="facil_4.html" >건식 사우나</a>
            </li>
            <li>
                <a href="facil_5.html" >룸서비스</a>
            </li>
            <li>
                <a href="facil_6.html" >펫호텔</a>
            </li>
            <li>
                <a href="facil_7.html" >야외테라스</a>
            </li>
            <li>
                <a href="facil_8.html" >세탁실</a>
            </li>
        </ul>
    </div>
    <!--//#lnb-->
</div>
<!--//#lnb_box-->
