@@include('./_policy.html')

<!-- 메트로하임 -- 장기/단기 숙박일 경우 -->
<!-- <div class="rWing">
    <img src="http://img.ramadapt.co.kr/metroheim_bn.png" alt="" class="" style="cursor:pointer" onclick="window.open('http://www.metroheim.co.kr/', '_blank')">
    <img src="http://img.ramadapt.co.kr/group_bn_01.png" alt="" class="" style="cursor:pointer" onclick="javascript:location.href='/reservation';">
</div> -->
<div style="" class="rWing">
    <!--<img src="http://img.ramadapt.co.kr/group_bn_01.png" alt="" class="" style="cursor:pointer" onclick="javascript:location.href='/reservation';">-->
    <!-- 190712 버튼 추가 : 클릭시 랜딩으로 이동 -->
    <!--<img src="http://img.ramadapt.co.kr/landing/bn/btn_landing.png" alt="워터파크 최저가 보상" class="" onclick="">-->
    <!-- 190715 버튼 추가 : 클릭시 해당 랜딩 위치로 이동 - 메인에만 추가 -->
    <img src="http://img.ramadapt.co.kr/landing/bn/btn_ld.png" alt="워터파크&숙박패키지 최저가 보상">
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_spa.png" alt="아산 스파비스"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_dogo.png" alt="파라다이스 스파도고"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_risom.png" alt="리솜 스플라스"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_pina.png" alt="피나클랜드"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_land.png" alt="에버랜드"></a>
    <!-- 190828 아산레일바이크 추가 -->
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_rail.png" alt="아산레일바이크"></a>

</div>

<!-- 190719 이부분 그대로 예약페이지 푸터 위쪽에 넣어주세요 : 워터파크&숙박패키지 최저가 보상 이미지만 변경됨 -->
<!-- 190828 예약페이지! 아산레일바이크 추가 -->
<!--<div style="" class="rWing">
    <a href="#none"><img src="http://img.ramadapt.co.kr/landing/bn/btn_ld_rest.png" alt="워터파크&숙박패키지 최저가 보상"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_spa.png" alt="아산 스파비스"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_dogo.png" alt="파라다이스 스파도고"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_risom.png" alt="리솜 스플라스"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_land.png" alt="에버랜드"></a>
    <a href="#none" class="btn-wing"><img src="http://img.ramadapt.co.kr/landing/bn/bn_rail.png" alt="아산레일바이크"></a>
</div>-->
<!--// -->

<div id="footer">
    <div class="centerThis group">
        <div class="left_area">
            <div class="row">
                <img src="http://img.ramadapt.co.kr/logo_f.png" alt="라마다앙코르평택호텔" class="logo_f_main">
                <img src="http://img.ramadapt.co.kr/logo.png" alt="라마다앙코르평택호텔" class="logo_f">
                <!-- <span class="logo_f_tit">평택라마다호텔</span> -->

                <a href="javascript: void(0);" onclick="javascript: $('#privacy-bg, .term-wrap').show();" class="privacyBtn">이용약관</a>
                <a href="javascript: void(0);" onclick="javascript: $('#privacy-bg, .privacy-wrap').show();" class="privacyBtn">개인정보처리방침</a>
            </div>
            <div class="address">
                <span>라마다평택호텔 앙코르</span>
                <br>
                <span>경기도 평택시 포승읍 평택항로 184번길 3-10</span>
                <br><br>
                <span>(주)바로네트웍스 (평택지점)</span>
                <br>
                <span>대표자 : 전병권<br>주소 : 경기도 평택시 포승읍 평택항로184번길 3-10, 1206호(라마다평택호텔 앙코르)</span>
                <br>
                <span>사업자등록번호 : 789-85-00852 &nbsp;&nbsp;통신판매업 : 제2018-평택안출-172호</span>
                <br><br>
                <span>(주)이비즈네트웍스</span>
                <br>
                <span>대표이사 : 박기범 &nbsp;&nbsp;주소 : 서울특별시 강남구 테헤란로82길 15 (대치동, 디아이타워)</span>
                <br>
                <span>사업자등록번호 : 220-87-30865 &nbsp;&nbsp;통신판매업 : 강남-11501호</span>
                <br>
                <span>여행등록번호 : 제2015-44호 &nbsp;&nbsp;여행영업보증서 : 국내여행 제 100-000-2018041610009호</span>
                <br>
                <span>*이비즈네트웍스는 라마다평택호텔 앙코르의 공식 온라인 총판으로서 온라인 예약 및 결제를 대행합니다.</span>
                <br>
                <small>Copyright © ramada encore pyeongtaek All rights <span style="cursor: pointer;" onclick="hiddenlink();">reserved.</span></small>
            </div>
        </div>
        <div class="right_area">
            <div class="row fz_13">
                <span class="s_1 fz_16">예약문의</span> 예약확정, 변경, 취소 / 이벤트 관련 문의
                <br>☎ <span class="fz_14">1666-1243</span>
                <br>(주중 09시 30분 ~ 25시 / 주말 09시 30분 ~ 24시)
            </div>
            <div class="row fz_13">
                <span class="s_1 fz_16">프론트</span> 체크인, 체크아웃 / 시설이용 관련 문의
                <br>☎ <span class="fz_14">1666-1243 / 031-229-3601</span>
                <br>(주중/주말 06시 ~ 02시)
            </div>
            <div class="row fz_13">
                <span class="s_1 fz_16">단체문의</span> 워크샵, 학생, 산업단체 / 단체이용 관련 문의
                <br>☎ <span class="fz_14">010-3066-4665</span>
                <br>(주중/주말 06시 ~ 02시)
            </div>
            <!-- 190226 언어메뉴 추가 -->
            <div class="util-box">
                <ul class="util-menu ic-bArrow">
                    <li class="on"><a href="#none">한국어</a></li>
                    <li class=""><a href="#none">English</a></li>
                    <li class=""><a href="#none">中國語</a></li>
                    <li class=""><a href="#none">日本語</a></li>
                </ul>
            </div>

            <a href="https://www.go.co.kr/home/view/?p_no=G0d1FWof" class="btn-goco" target="_blank"><img src="http://img.ramadapt.co.kr/logo_f_goco.png" alt="고코투어"></a>

            <!-- 191021 패밀리 사이트 추가 -->
            <div id="family-wrapper" class="family-wrapper">
                <div class="family-site">
                    <span class="family-site-label">패밀리사이트&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▲</span>
                    <ul class="site" style="display: none">
                        <li class="group-name">
                            <div class="fam_btn">[호텔/리조트]</div>
                        </li>
                        <li>
                            <div class="fam_btn"><a href="http://ocean2you.co.kr/" target="_blank">오션투유리조트</a></div>
                        </li>
                        <li>
                            <div class="fam_btn"><a href="http://ramadapt.co.kr/" target="_blank">평택라마다앙코르호텔</a></div>
                        </li>
                        <li>
                            <div class="fam_btn"><a href="http://seabay.co.kr/" target="_blank">씨베이호텔</a></div>
                        </li>
                        <li class="group-division" style="border-top: 1px dashed #a3a3a3; margin: 5px 10px"></li>
                        <li class="group-name">
                            <div class="fam_btn">[호텔위탁운영사]</div>
                        </li>
                        <li>
                            <div class="fam_btn"><a href="http://ebiznetworks.co.kr/home/program/?dd=WQwvfDZJKkYs" target="_blank">이비즈네트웍스</a></div>
                        </li>
                    </ul>
                </div>
                <script>
                    $('#family-wrapper .family-site-label').on('click', function () {
                        $(this).next().toggle();
                    });
                </script>
            </div>
        </div>
    </div>
    <!--//.centerThis-->
</div>
<!-- //#footer -->