@@include('../include/_faq.html')

<!-- 메인 + 영상이 있을경우 vid 멀티클래스 추가 -->
<!-- <header id="rn_header" class="header vid main"> -->
<header id="rn_header" class="header">

    <div class="gnb">
        <div class="group-f">
            <!-- 190910 logo 추가 수정 -->
            <h1 class="logo-box">
                <a href="/views/" class="logo">
                    <img src="http://img.ramadapt.co.kr/logo.png" alt="라마다평택호텔" class="logo-img com">
                    <img src="http://img.ramadapt.co.kr/logo_w.png" alt="라마다평택호텔" class="logo-img vid">
                </a>
            </h1>

            <nav class="cf nav">
                <span class="sr-only">전체 메뉴</span>
                <div class="bg-drop"></div>
                <div class="nav-box">
                    <ul class="cf menu">
                        <li>
                            <a class="title">호텔소개</a>
                            <ul class="sub">
                                <li>
                                    <a href="intro_1.html" class="off">소개</a>
                                </li>
                                <li>
                                    <a href="intro_2.html" class="off">인사말</a>
                                </li>
                                <li>
                                    <a href="intro_6.html" class="off">고객사 안내</a>
                                </li>
                                <li>
                                    <a href="intro_4.html" class="off">찾아오시는길</a>
                                </li>
                                <li>
                                    <a href="intro_5.html" class="off">주변관광지 안내</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#none" class="title">객실안내</a>
                            <ul class="sub">
                                <li>
                                    <a href="gallery_1.html" class="off">디럭스 더블</a>
                                </li>
                                <li>
                                    <a href="gallery_2.html" class="off">디럭스 트윈</a>
                                </li>
                                <li>
                                    <a href="gallery_5.html" class="off">디럭스 수퍼더블</a>
                                </li>
                                <li>
                                    <a href="gallery_3.html" class="off">트리플룸</a>
                                </li>
                                <li>
                                    <a href="gallery_4.html" class="off">스위트</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="title">다이닝</a>
                            <ul class="sub">
                                <li>
                                    <a href="facil_1.html" class="off">레스토랑</a>
                                </li>
                                <li>
                                    <a href="facil_7.html" class="off">야외테라스</a>
                                </li>
                                <!-- 룸서비스 주석처리 -->
                                <!--<li><a href="facil_5.html" class="off">룸서비스</a></li>-->
                            </ul>
                        </li>
                        <li>
                            <a class="title">연회&amp;부대시설</a>
                            <ul class="sub">
                                <li>
                                    <a href="facil_3.html" class="off">컨퍼런스룸</a>
                                </li>
                                <li>
                                    <a href="facil_9.html" class="off">비지니스 룸</a>
                                </li>
                                <li>
                                    <a href="facil_2.html" class="off">휘트니스</a>
                                </li>
                                <li>
                                    <a href="facil_10.html" class="off">가상오피스</a>
                                </li>
                                <li>
                                    <a href="facil_6.html" class="off">펫호텔</a>
                                </li>
                                <li>
                                    <a href="facil_8.html" class="off">세탁실</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="group.html" class="title">단체문의</a>
                        </li>
                        <li>
                            <a href="rent.html" class="title">장기/단기 숙박</a>
                        </li>
                        <li>
                            <a href="event.html" class="title">이벤트/축제</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="until-area clr">
                <span class="evtTab">
                    <a class="faq-a" id="faq-a" href="#">무료숙박 이벤트 당첨안내</a>
                </span>
                <div class="util-box">
                    <ul class="util-menu ic-bArrow">
                        <li class="on"><a href="#none">한국어</a></li>
                        <li class=""><a href="#none">English</a></li>
                        <li class=""><a href="#none">中國語</a></li>
                        <li class=""><a href="#none">日本語</a></li>
                    </ul>
                </div>
            </div>
            <div class="bk-menu">
                <a href="/reserve" class="btn-bk">예약하기</a>
                <ul class="bk-list">
                    <li class="item item-1 fst"><a href="/reserve">객실예약</a></li>
                    <li class="item item-2"><a href="/history/?dd=Sws5TzdVKg==">예약확인</a></li>
                    <li class="item item-3"><a href="/group">단체예약</a></li>
                    <li class="item item-4"><a href="/rent">장기/단기예약</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>