<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">
	<meta name="author" content="author">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>평택라마다호텔</title>

	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="">
	<meta name="twitter:title" content="">
	<!--<link rel="canonical" href="도메인">-->
	
	<!--폰트-->
	<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css"> -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
		
    <link rel="stylesheet" type="text/css" href="http://static.ocean2you.co.kr/css/new/layout2.css">
	<!--공통 Css-->
	 <!-- <link rel="stylesheet" href="http://static.ramadapt.co.kr/css/style.css">  -->
	 <link rel="stylesheet" href="../static/css/style.css">
	<!-- 190226 css 추가 -->
	 <link rel="stylesheet" href="http://static.ramadapt.co.kr/css/totalweb.css"> 
	 <!-- <link rel="stylesheet" href="../static/css/totalweb.css"> -->
	<!--개별 Css-->
	<!-- <link rel=stylesheet href="http://static.ramadapt.co.kr/css@@page/init.css"> -->
	<!-- <link rel=stylesheet href="../static/cssm@@page/init.css"> -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/1.5.0/detectizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        Modernizr.Detectizr.detect();
    </script>
    
	<!--공통 Js-->
    <script src="http://static.ramadapt.co.kr/js/jquery.easing.1.3.js"></script>
	<script src="http://static.ramadapt.co.kr/js/common.js"></script>
     <!--<script src="../static/js/common.js"></script> -->
	<!-- 190226 js 추가 -->
	<script src="http://static.ramadapt.co.kr/js/totalweb.js"></script>
    <!--무료숙박권 FAQ-->
	<script src="http://static.go.co.kr/js/faq.js"></script>
     <!--<script src="../static/js/totalweb.js"></script> -->
	<!--개별 Js-->
    <!-- <script src="http://static.ramadapt.co.kr/js@@page/init.js"></script> -->
    <!-- <script src="../static/js@@page/init.js"></script> -->
    
    <!--[if lt IE 9]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
	
