<div id="lnb_box">
    <div id="lnb">
        <h2><span>호텔 객실 보기/예약</span></h2>
        <ul>
            <li>
                <!-- 해당 페이지 이동시 on 클래스 추가 -->
                <a href="gallery_1.html" class="">디럭스 더블 / 테라스 더블</a>
            </li>
            <li>
                <a href="gallery_2.html">디럭스 트윈 / 패밀리 트윈</a>
            </li>
            <li>
                <a href="gallery_3.html">트리플룸</a>
            </li>
            <li>
                <a href="gallery_4.html">스위트</a>
            </li>
        </ul>
    </div>
    <!--//#lnb-->
</div>
<!--//#lnb_box-->
