@charset 'UTF-8';

#header {
    z-index: 2;
    width: 100% !important;
    clear: both;
    /*position: relative;*/
    position: absolute !important;
    top: 0;
    height: 83px;
    line-height: 1.6em;
    letter-spacing: -0.5px;
}

#header.on {
    z-index: 115;
    position: fixed !important;
}

#content {
    padding-top: 100px;
}

#content #content {
    padding-top: 0;
}

#Contents {
    display: table;
    width: 100%;
}

/* ----------------------------------------------------------------
 gnbDiv
 -----------------------------------------------------------------*/

.gnbDiv {
    min-width: 1000px;
    width: 100%;
    height: 83px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
}

.gnbDiv:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ea3433 url('http://img.ramadapt.co.kr/gnb_bor.jpg') no-repeat center bottom;
}

.gnbDiv .site {
    position: absolute;
    right: 0px;
    top: 20px;
}

.gnbDiv a:hover,
.gnbDiv a:hover,
.gnbDiv a:active {
    text-decoration: none;
}

.gnbDiv .gnbWrap {
    position: relative;
    z-index: 999;
    height: 312px;
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
    z-index: 999;
}

.gnbDiv .gnbWrap h1 {
    padding-top: 25px;
}

.gnbDiv .gnbWrap h1 a {
    position: relative;
    display: inline-block;
}

.gnbDiv .gnbWrap h1 .logo_tit {
    position: absolute;
    bottom: -20px;
    left: 6px;
    font-size: 13px;
    color: #000;
    letter-spacing: 7px;
    white-space: nowrap;
}

.gnbDiv .gnbWrap .gnb {
    position: absolute;
    z-index: 999;
    /*left: 145px;*/
    top: 0px;
    right: 0;
    /* width: 100%; */
    /* width: 863px; */
}

.gnbDiv .gnbWrap .gnb a {
    display: block;
}

.gnbDiv .gnbWrap .gnb .oneDep {
    box-sizing: border-box;
    height: 83px;
    /*padding-top: 35px;*/
    padding: 35px 10px 0;
    text-align: center;
    letter-spacing: -1.2px;
}

.gnbDiv .gnbWrap .gnb ul {
    overflow: hidden;
    /*width: 100%;*/
    float: right;
    margin-top: 0px !important;
    margin-right: 145px;
}

.gnbDiv .gnbWrap .gnb ul li {
    float: left;
    text-align: left;
    min-width: 90px;
    /*width: 110px*/
    ;
    text-indent: 0px;
    /* width: 16.6%; */
}

/* .gnbDiv .gnbWrap .gnb ul li.one > a.oneDep {text-indent: 30px;} */
/* .gnbDiv .gnbWrap .gnb ul li.two {width: 170px;} */
/* .gnbDiv .gnbWrap .gnb ul li.two > a.oneDep {text-indent: 38px;} */
/* .one {width:160px;}
.three {width:160px;}
.four {width:160px;}
.five {width:160px;} */

.gnbDiv .gnbWrap .gnb ul li a.oneDep {
    display: block;
    position: relative;
    font-size: 16px;
    color: #222;
    font-weight: normal;
    letter-spacing: 0;
    /*text-indent: 15px;*/
}

.gnbDiv .gnbWrap .gnb ul li.on a.oneDep {
    color: #c51b1b;
    text-decoration: none;
}

.gnbDiv .gnbWrap .twoDep {
    display: block;
    padding: 12px 0 0 0;
    border-left: 1px solid #e8eaeb;
    position: relative;
    visibility: visible;
    height: 242px;
    text-indent: 6px;
}

.gnbDiv .gnbWrap .gnb ul li.two .twoDep {
    letter-spacing: -1.5px;
}

.gnbDiv .gnbWrap .gnb ul li.three .twoDep,
.gnbDiv .gnbWrap .twoDep.last {
    border-right: 1px solid #e8eaeb;
}

.gnbDiv .gnbWrap .twoDep.last {
    border-left: 0;
}

.gnbDiv .gnbWrap li.on .twoDep a.off:hover {
    background: #c51b1b;
    color: #fff;
}

.gnbDiv .gnbWrap li .twoDep a.on {
    background: #c51b1b;
    color: #fff;
    vertical-align: top;
}

.gnbDiv .gnbWrap li .twoDep a {
    color: #666;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: -0.7pt;
}

.twoDbg {
    border-top: 1px solid #ccc;
    background: #fff;
    border-bottom: 2px solid #ccc;
    position: absolute;
    top: 83px;
    left: 0;
    height: 227px;
    width: 100%;
    z-index: 90;
}

.gnbDiv .gnbWrap li.on .guideBg {
    position: absolute;
    top: 71px;
    left: -219px;
    display: block;
    z-index: 900;
}

.guideBg {
    display: none;
    position: relative;
    width: 300px;
}

#header .evtTab {
    position: absolute;
    /*right: -165px;*/
    right: 0px;
    top: 32px;
}

#header .evtTab .faq-a {
    /* position: absolute; */
    position: relative;
    display: inline-block;
    border: 1px solid #5f5f5f;
    background: #fff;
    /* color: #222; */
    /* background: #AF5EFB; */
    /* color: #fff; */
    font-size: 13px;
    text-align: center;
    line-height: 1.1;
    padding: 5px 5px;
    word-break: keep-all;
    font-weight: 300;
    letter-spacing: -1px;
}

#header .util {
    z-index: 99999;
    height: 0px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0 !important;
    font-size: 11px;
}

#header .util li {
    float: left;
    display: inline-block;
    padding: 0px 12px;
    background: url(http://img.ramadapt.co.kr/gray_line.gif) no-repeat left center;
    background: #c51b1b;
    border-right: 1px #a41c1c solid;
}

#header .util li:first-child {
    border-left: 0px;
    padding-left: 15px;
    background: #c51b1b;
}

#header .util .last {
    padding-right: 15px;
    border-right: none;
}

#header .util a {
    color: #FFFFFF;
}

/* header type-2 */
#header.header-2,
.header-2 .gnbDiv,
.header-2 .gnbDiv .gnbWrap .gnb ul li .oneDep {
    height: 100px;
}

#header.header-2 {}

.header-2 .twoDbg {
    z-index: 87;
    top: 97px;
    height: 213px;
}

.header-2 .twoDbg.on {
    z-index: 90;
}

.header-2 .gnbDiv {}

.header-2 .gnbDiv:before {
    z-index: 88;
}

.header-2 .gnbDiv .gnbWrap {
    width: 100%;
}

.header-2 .gnbDiv .gnbWrap h1 {
    position: absolute;
    left: 100px;
}

.header-2 .gnbDiv .gnbWrap .gnb {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    top: auto;
    right: auto;
}

.header-2 .gnbDiv .gnbWrap .gnb ul li {}

.header-2 .gnbDiv .gnbWrap .gnb ul li .oneDep {
    padding: 45px 18px 0;
    font-size: 18px;
    font-weight: 500;
}

.header-2 .gnbDiv .gnbWrap .gnb ul li .twoDep {
    height: 199px;
}

/* 무료숙박 당첨안내 및 언어 메뉴 */
.header-2 .until-area {
    z-index: 110;
    position: absolute;
    top: 9px;
    right: 144px;
}

#header.header-2 .until-area .evtTab {
    position: relative;
    float: left;
    display: inline-block;
    top: auto;
    right: auto;
    margin-right: 15px;
}

#header.header-2 .until-area .evtTab .faq-a {}

.header-2 .until-area .util-box {
    float: left;
    margin-right: 25px;
}

/* footer 공용 부분 / 언어메뉴 */
.util-box {
    position: relative;
    overflow: hidden;
    height: 26px;
}

.util-box .util-menu {
    position: relative;
    box-sizing: border-box;
    width: 140px;
    margin-top: -1px;
    padding-top: 32px;
    background: #ddd;
}

/* 131 */
.util-box .util-menu.ic-bArrow:after {
    position: absolute;
    top: 6px;
    right: 14px;
    border-color: #171717;
}

.util-box .util-menu li {
    width: 100%;
    border-top: 1px solid #ccc;
}

.util-box .util-menu li a {
    position: relative;
    display: block;
    height: 32px;
    padding-left: 22px;
    line-height: 32px;
    color: #333;
}

.util-box .util-menu li a:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 14px;
    background: #333;
}

.util-box .util-menu .on {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
}

.util-box .util-menu .on a {
    height: 26px;
    padding-left: 30px;
    line-height: 26px;
}

.util-box .util-menu .on a:before {
    width: 15px;
    height: 15px;
    left: 10px;
    margin-top: -8px;
    background: url(http://img.ramadapt.co.kr/ico_lan.png) no-repeat center center;
    background-position: 14px auto;
}

.util-box.on {}

.util-box.on .util-menu.ic-bArrow:after {
    top: 13px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.util-box.on .util-menu .on a {
    height: 32px;
    line-height: 32px;
}

.ie8 .util-box .util-menu.ic-bArrow:after {
    top: 2px;
    border: 0;
    color: #333;
}

.ie8 .util-box.on .util-menu.ic-bArrow:after {
    content: "▲";
    top: 5px;
}