@charset "utf-8";

/* ----------------------------------------------------------------
 footer
 -----------------------------------------------------------------*/
#footer_ramada {
    padding: 20px 0px 30px 0px;
    position: relative;
    /* border-top: 1px solid #ededed; */
    /* background: #fafafa; */
    background: #ededed;
    word-break: keep-all;
}

#footer_ramada .centerThis {
    margin: 0 5px;
}

#footer_ramada .row_privacy {
    margin-bottom: 10px;
}

#footer_ramada [class*=_area] {
    position: relative;
    letter-spacing: -1px;
}

#footer_ramada .left_area {
    margin-top: 20px;
}

#footer_ramada .logo_f_main {
    width: 100px;
    display: inline-block;
    margin: 0 0 8px -2px;
    vertical-align: middle;
}

/* 190628 고코링크 추가 */
/* #footer_ramada .btn-goco {
    display: inline-block;
   margin: 0 0 8px 12px;
   vertical-align: middle;
}
#footer_ramada .btn-goco img {
    display: inline-block;
   width: 78px;
   vertical-align: middle;
} */
#footer_ramada .privacyBtn {
    display: inline-block;
    color: #6e6e6e;
    background: #fff;
    padding: 0 10px;
    line-height: 2.1em;
}

#footer_ramada .address {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 0;
}

#footer_ramada .address .mt-10 {
    position: relative;
    display: block;
    margin-top: 10px;
}

#footer_ramada small {
    display: block;
    text-transform: uppercase;
    font-size: inherit;
}

#footer_ramada .address,
#footer_ramada .right_area {
    color: #605f5f;
}

#footer_ramada .right_area {
    box-sizing: border-box;
}

.fz_12 {
    font-size: 12px !important;
}

.fz_13 {
    font-size: 13px !important;
}

.fz_14 {
    font-size: 14px !important;
}

.fz_15 {
    font-size: 15px !important;
}

.fz_16 {
    font-size: 16px !important;
}

.fz_18 {
    font-size: 18px !important;
}

#footer_ramada .right_area .row {
    line-height: 1.4em;
}

#footer_ramada .right_area .row .s_1 {
    color: #ad0000;
    margin-right: 5px;
}

#footer_ramada .right_area .row+.row {
    margin-top: 9px;
}

/* #footer_ramada {
   padding: 18px 0px 18px 0px;
   position: relative;
   border-top: 1px solid #ededed;
   background: #f8f8f8;
}
#footer_ramada .phone { max-width:640px; margin:0 auto; margin-bottom:5px; text-align:center;}
#footer_ramada .phone img { width:80%; margin:10px 0;}
#footer_ramada span {
   padding-right: 7px;
}
#footer_ramada .address {
   margin-bottom:20px;
   padding-left:5px;
   line-height: 18px;
   letter-spacing: 0px;
   font-size:14px;
   color: #999;
}
#footer_ramada strong { font-weight:normal; font-size:14px; color:#888}
#footer_ramada .fbtn {
   padding:0 12px;
   margin-bottom:18px;
   text-align: center;
} */

/* family-site */
#footer_ramada .btn-goco,
.family-wrapper {
    display: inline-block;
    vertical-align: middle;
}

#footer_ramada .btn-goco {
    margin-left: 5px;
}

#footer_ramada .btn-goco img {
    width: 80px;
}

.family-wrapper .family-site {
    position: relative;
    margin-left: 5px;
    width: 115px;
    box-sizing: border-box;
    font-size: 12px;
    color: #252525;
    cursor: pointer;
}

.family-wrapper .family-site-label,
.family-wrapper .family-site .site {
    width: 100%;
    background-color: #ddd;
    border: 1px solid #adadad;
    box-sizing: border-box;
}

.family-wrapper .family-site-label {
    display: block;
    padding-left: 5px;
    line-height: 22px;
    height: 24px;
}

.family-wrapper .family-site .site {
    z-index: 9999;
    position: absolute;
    padding: 5px 0;
    left: 0;
    bottom: 23px;
}

.family-wrapper .family-site .site .group-name {
    // margin-top: 5px;
}

.family-wrapper .family-site .site .group-name .fam_btn {
    font-weight: 700;
}

.family-wrapper .family-site .site .fam_btn {
    padding-left: 5px;
    line-height: 1.5;
}

.family-wrapper .family-site .site .fam_btn a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #252525;
}