@charset 'UTF-8';
@import '../parts/common';

/* ----------------------------------------------------------------
 header
 -----------------------------------------------------------------*/
.header {
    $hd-ht: 56px;
    z-index: 999;
    // position: absolute;
    width: 100%;
    height: $hd-ht;
    // background-color: #272d34;
    background-color: #fff;

    &.main {
        @include pos(absolute, 0, 0);
    }

    #util_box.gnb {
        color: #fff;
        text-align: center;
        // line-height: 42px;
        width: 100%;
        height: $hd-ht;
        position: relative;

        // a.menu_btn {
        //     background: left center no-repeat transparent;
        //     background-image: url(http://img.ramadapt.co.kr/m/nav.png);
        //     background-size: 78%;
        //     -webkit-background-size: 78%;
        //     display: block;
        //     width: 46px;
        //     height: 46px;
        //     position: absolute;
        //     top: 5px;
        //     left: 13px;
        // }

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #ea3433 url('http://img.ramadapt.co.kr/m/gnb_bor.jpg') center;
        }

        .menu_btn {
            @include va-bef($hd-ht - 2);
            position: absolute;
            top: 0px;
            bottom: 0;
            left: 5px;
            // padding: 5px;
            // box-sizing: border-box;
            cursor: pointer;

            .bar {
                display: block;
                background: #666;
                width: 20px;
                height: 2px;
                margin: 4px 5px;
            }
        }

        .logo {
            // display: inline-block;
            @include va-bef($hd-ht);

            .logo-img {
                width: 110px;
                display: none;

                &.vid {
                    display: none;
                }

                &.com {
                    display: inline-block;
                }
            }
        }


        &.on {
            z-index: 99999;
            position: fixed;
            background: #fff;
        }
    }

    &.vid {
        background-color: transparent;


        #util_box.gnb {
            .logo {
                .logo-img.com {
                    display: none;
                }

                .logo-img.vid {
                    display: inline-block;
                }

            }

            .menu_btn {
                .bar {
                    background-color: #fff;
                }
            }

        }

    }
}


#page {
    nav {
        display: none;
    }
}

.evtFaqBtn {
    position: absolute;
    right: 5px;
    top: 16px;
    display: block;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 5px 4px;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    text-indent: -2px;
    line-height: 1em;

    img {
        position: relative;
        vertical-align: middle;
        top: -1px;
        width: 16px;
        margin-right: 1px;
    }
}

.util {
    z-index: 99999;
    height: 32px;
    display: block;
    position: relative;
    font-size: 15px;

    li {
        float: left;
        display: inline-block;
        padding: 3px 15px;
        background: url(http://img.ramadapt.co.kr/m/gray_line.gif) no-repeat left center;
        background: #c51b1b;
        border-right: 1px #a41c1c solid;

        &:first-child {
            border-left: 0px;
            padding-left: 20px;
            background: #c51b1b;
        }
    }

    .last {
        padding-right: 20px;
        border-right: none;
    }

    a {
        color: #FFFFFF;
    }
}

.util-menu {
    li {
        float: left;
        width: 25%;
        text-align: center;
        background: #ddd;

        a {
            display: block;
            height: 30px;
            font-size: 13px;
            font-weight: 300;
            letter-spacing: -0.7px;
            line-height: 30px;
            color: #333;
            border-left: 1px solid #ccc;
        }

        &:first-child {
            a {
                border-left: 0;
            }
        }
    }
}

.util-menu+.bk-menu-m {
    margin-top: 12px;
}

html.mmenu-opened {
    height: 100%;
    width: 100%;
    overflow: hidden;

    body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .mmenu.mmenu-opened {
        display: block;
    }

    .mmenu-page {
        background-color: inherit;
        min-height: 100%;
        position: absolute;
        z-index: 1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #ffffff;
        -webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
        -moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
        transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
    }

    #mmenu-blocker {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        -webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
        -moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
        transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
    }
}

.mmenu {
    display: none;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #2f343a;

    .mmenu-hidden {
        display: none;
    }
}

#mmenu-blocker {
    display: none;
}

html.mmenu-left.mmenu-opened {
    .mmenu-page {
        margin-left: 0px;
        left: 0%;
    }

    #mmenu-blocker {
        margin-left: 0px;
        left: 0%;
    }
}

html.mmenu-left.mmenu-opening {
    .mmenu-page {
        margin-left: -20%;
        left: 100%;
    }

    #mmenu-blocker {
        margin-left: -20%;
        left: 100%;
    }
}

html.mmenu-right.mmenu-opened {
    .mmenu-page {
        margin-right: 0px;
        right: 0%;
    }

    #mmenu-blocker {
        margin-right: 0px;
        right: 0%;
    }
}

html.mmenu-right.mmenu-opening {
    .mmenu-page {
        margin-right: -65px;
        right: 100%;
    }

    #mmenu-blocker {
        margin-right: -65px;
        right: 100%;
    }
}

.menu_list {
    background: #23262b;

    .sm_btn {
        background: #44494e;
        border: 1px solid #3c4148;
        font-weight: normal;
    }

    .info {
        color: #dbdbdb;
        padding: 13px 12px;
        position: relative;

        span {
            display: inline-block;
            float: left;
            display: inline-block;
        }

        .opt {
            right: 13px;
            background: no-repeat transparent;
            background-image: url(http://img.ramadapt.co.kr/m/option.html);
            background-size: 100%;
            -webkit-background-size: 100%;
            width: 20px;
            height: 20px;
            margin-left: 20px;
        }

        strong {
            font-size: 16px;
            color: #ffffff;
        }
    }

    .tt {
        color: #ffffff;
        padding: 10px;
        padding-top: 37px;
        font-weight: normal;
        background: #23262b;
        border-bottom: 1px solid #3c4148;

        &:first-child {
            padding-top: 20px;
        }
    }
}

.menu_head {
    padding: 10px 13px;
    cursor: pointer;
    position: relative;
    background: #2f343a;
    border-bottom: 1px solid #3c4148;
    color: #dbdbdb;

    a {
        color: #dbdbdb;
    }

    .sm_btn {
        padding: 0px 4px;
    }
}

.menu_body {
    display: none;
    background: #44494e;
    padding: 7px 13px 10px 13px;
    color: #dbdbdb;

    li {
        padding: 5px 0px;
        font-size: 14px;

        h3 {
            font-size: 13px;

            span {
                font-size: 11px;
            }
        }
    }

    a {
        display: block;
        color: #dbdbdb;
        text-decoration: none;
    }

    ol {
        display: none;
        padding: 5px;
        padding-bottom: 0px;
    }
}