@charset "utf-8";

@import "../../m/parts/common";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

#content {margin-bottom: 0;}

//변수
$tab-ht: 102px;
$dogo: #0179f3;
$risom: #ff711c; 
$spa: #009848;
$pina: #e4295b;
$pt:24%;
//$pt:28%;
* {
    font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; 
    img {
        @include bx;
        max-width: 100%; 
        line-height: 0;
    }
    figure {
        @include bx;
        display: block;
        line-height: 0;
    }
}

.Landing {
    .mmenu-page {
        padding-bottom: 16%;
    }
    .sub_content {
        padding-bottom: 0;
    }
}

.ld-visual-sect {
    .ld-visual-list {
        .item {
            .ld-visual  {
                > img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

// 기본 아산 스파비스
/* 탭 */
.ld-tab-sect {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    //min-height: $tab-ht;
    margin: 0 auto;
    padding: $pt 2% 0;
    background: #14319b;
    .ld-tab-box {
        position: absolute;
        width: 96%;
        top:0;
        padding-top: 2.5%;
        .ld-tab-list {
            @include bx;
            //max-width: 768px;
            margin: 0 auto;
            li {
                @include bx;
                float: left;
                width: 24.4%;
                //width: 32.8%;
                margin-left: 0.7%;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    @include bx;
                    display: block;
                    img {
                        @include bx;
                        width: 100%;
                        &.off {
                            display: block;
                        }
                        &.on {
                            display: none;
                        }
                    }
                }

                &.on {
                    margin-top: 2%;
                    a {
                        img {
                            &.off {
                                display: none;
                            }
                            &.on {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    
    &.on {
        position: fixed;
        top: 0;
        z-index: 110;
        padding-top: 20.5%;
        //padding-top: 25%;
    }
}
/*.ld-tab-sect {
    $tab-ht: 50px;
    z-index: 98;
    width: 100%;
    height: $tab-ht;
    background: $red;
    .ld-tab-list {
        @include bx;
        @include clearfix;
        z-index: 98;
        width: 100%;
        height: $tab-ht;
        > li {
            @include bx;
            cursor: pointer;
            float: left;
            display: table;
            width: 50%;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            background: $red;
            p {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                a {
                    @include bx;
                    display: inline-block;
                    top: 2px;
                    > img {height: 16px}
                }
            }
            
            &.on {
                p {
                    a {
                        &:before {
                            content: '';
                            @include position(absolute, $left:0, $bottom:0);
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #fff;
                        }
                        img {
                        }
                    }
                }
            }
            
            
            
        }
    }
    
}*/

/* 공통 스타일 설정 */
.ld-visual-sect .ld-visual-list > li,
.ld-cont-sect .ld-cont-list > li {
    display: none;
}
.ld-visual-sect .ld-visual-list > li.on,
.ld-cont-sect .ld-cont-list > li.on {
    display: block;
}


/* 우측배너 */ 
.rWing {
    border: 0;
    margin-bottom: 18%;
}

/* 튜브와 볼 */
/*.deco-box {
    position: relative;
    width: 96%;
    margin: 0 auto;
    figure {
        display: block;
        position: absolute;
        &.ico-tube {
            z-index: 102;
            width: 12%;
            top: 0;
            left: 0;
            margin-top: -10%;
        }
        &.ico-ball {
            z-index: 99;
            width: 13.1%;
            top: 0;
            right: 0;
            margin-top: -10%;
        }
    }
    
    &.on {
        figure {
            position: fixed;
            top: 0;
            &.ico-tube {
                z-index: 125;
                margin-top: 18%;
                left: 2%;
            }
            &.ico-ball {
                z-index: 115;
                margin-top: 18%;
                right: 2%;
            }
        }
    }
}*/

/* 내용 */
.ld-cont-sect {
    padding-top: $pt;
    background: #14319b;
    
    div[class*='-area'] {
        @include bx;
        @include clearfix;
        .container {
            @include bx;
            @include clearfix;
            width: 96%;
            text-align: center;
            margin: 0 auto;
        }
    }
    
    .ld-cont-list {
        .item {
            @include bx;
            
            &:before {
                content: '';
                z-index: 100;
                display: block;
                position: absolute;
                box-sizing: border-box;
                width: 100%;
                //min-height: 37px;
                top: 0;
                left: 0;
                margin-top: -4%;
                padding-top: 10%;
                background: url(http://img.ramadapt.co.kr/landing/spa/bg_wave.png) repeat-x;
                background-size: 100% auto;
            }
            
            .ld-tit {
                width: 80%;
                margin: 0 auto;
                line-height: 1;
            }
            .ld-sub-tit {
                padding: 14px 0 21px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.4;
                letter-spacing: -1.2px;
                em {
                    font-size: 17px;
                    font-weight: bold;
                }
                .f-pt {
                    color: $spa;
                }
            }
            
            /* all */
            .ld-main-area {
                padding: 12% 0 47px;
                background: $spa;

                .ld-tit {
                    width: 70%;
                }
                .ld-sub-tit {
                    color: #fff;
                }
            }
            
            /* rest */
            .ld-rest-area {
                padding: 45px 0 11%;
                background: url(http://img.ramadapt.co.kr/landing/common/bg_rest.jpg) repeat;

                .ld-rest-box {
                    @include bx;
                    @include clearfix;
                    width: 90%;
                    max-width: 768px;
                    margin: 0 auto;

                    .btn-link {
                        display: block;
                        & + .btn-link {
                            margin-top: 20px;
                        }
                    }
                }
            }
        
            /* facil */
            .ld-list-area {
                @include bx;
                @include clearfix;
                padding-top: 30px;
                background: #fff;
            
                &:before {
                    content: '';
                    z-index: 100;
                    display: block;
                    position: absolute;
                    box-sizing: border-box;
                    width: 100%;
                    min-height: 37px;
                    top: 0;
                    left: 0;
                    margin-top: -4%;
                    padding-top: 10%;
                    background: url(http://img.ramadapt.co.kr/landing/common/bg_wave.png) repeat-x;
                    background-size: 100% auto;
                }

                .ld-sub-tit {
                    padding-bottom: 30px;
                }

                .ld-list {
                    li {
                        @include bx;
                        padding-bottom: 15px;
                        .ld-list-img-box {
                            @include bx;
                            @include clearfix;
                            figure {
                                width: 49%;
                                float: right;
                                &:first-child {
                                    float: left;
                                }
                            }
                        }

                        .ld-list-txt-box {
                            p {
                                text-align: center;
                                &.ld-list-tit {
                                    padding: 3px 0 1px;
                                    font-size: 16px;
                                    font-weight: bold;
                                    letter-spacing: -2px;
                                    color: $spa;
                                }
                                &.ld-list-txt {
                                    font-size: 11px;
                                    line-height: 1.4;
                                    letter-spacing: -1px;
                                    color: #555;
                                }
                            }
                        }
                    }
                }
            }
            
            /* 버튼 */
            .ld-btn-area {
                z-index: 110;
                position: fixed;
                box-sizing: border-box;
                width: 100%;
                left: 0;
                bottom: -1px;
                padding: 0;
                -webkit-transition: all 0.4s ease 0.1s;
                -moz-transition: all 0.4s ease 0.1s;
                -ms-transition: all 0.4s ease 0.1s;
                -o-transition: all 0.4s ease 0.1s;
                transition: all 0.4s ease 0.1s;
                .ld-btn-box {
                    @include bx;
                    @include clearfix;
                    
                    .btn-link {
                        float: right;
                        width: 50%;
                        > img {
                            display: block;
                            width: 100%;
                        }
                        
                        &:first-child {
                            float: left;
                        }
                    }
                }
                
                &.off {
                    bottom: -20%;
                    -webkit-transition: all 0.4s ease 0.1s;
                    -moz-transition: all 0.4s ease 0.1s;
                    -ms-transition: all 0.4s ease 0.1s;
                    -o-transition: all 0.4s ease 0.1s;
                    transition: all 0.4s ease 0.1s;
                }
            }
            
            
            &.dogo {
                &:before {
                    background: url(http://img.ramadapt.co.kr/landing/dogo/bg_wave.png) repeat-x;
                    background-size: 100% auto;
                }
                /* all */
                .ld-main-area {
                    background: $dogo;
                }

                /* rest */
                .ld-rest-area {
                    .ld-sub-tit {
                        .f-pt {
                            color: $dogo;
                        }
                    }
                }
                
                /* facil */
                .ld-list-area {

                    .ld-list {
                        li {
                            .ld-list-txt-box {
                                p {
                                    &.ld-list-tit {
                                        color: $dogo;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            
            &.risom {
                &:before {
                    background: url(http://img.ramadapt.co.kr/landing/risom/bg_wave.png) repeat-x;
                    background-size: 100% auto;
                }
                /* all */
                .ld-main-area {
                    background: $risom;
                }

                /* rest */
                .ld-rest-area {
                    .ld-sub-tit {
                        .f-pt {
                            color: $risom;
                        }
                    }
                }
                
                /* facil */
                .ld-list-area {

                    .ld-list {
                        li {
                            .ld-list-txt-box {
                                p {
                                    &.ld-list-tit {
                                        color: $risom;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            
            &.pina {
                &:before {
                    background: url(http://img.ramadapt.co.kr/landing/pina/bg_wave.png) repeat-x;
                    background-size: 100% auto;
                }
                /* all */
                .ld-main-area {
                    background: $pina;
                    .ld-tit {
                        width: 90%;
                    }
                }

                /* rest */
                .ld-rest-area {
                    .ld-sub-tit {
                        .f-pt {
                            color: $pina;
                        }
                    }
                }
                
                /* facil */
                .ld-list-area {

                    .ld-tit {
                        width: 70%;
                    }

                    .ld-list {
                        li {
                            .ld-list-txt-box {
                                p {
                                    &.ld-list-tit {
                                        color: $pina;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

/*  */
@media (max-width: 350px) {
    
    /* 내용 */
    .ld-cont-sect {
        .ld-cont-list {
            .item {
                .ld-sub-tit {
                    font-size: 12px;
                    letter-spacing: -1px;
                    em {
                        font-size: 15px;
                    }
                }

                /* facil */
                .ld-list-area {
                    .ld-list {
                        li {
                            .ld-list-txt-box {
                                p {
                                    &.ld-list-txt {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}