@charset "utf-8";

/* common */
.df_tb, .df_tb th {font-size: 13px;}

/* footer */
#footer_ramada .right_area .row .s_1 {display: block;}
#footer_ramada .right_area .row.fz_13 {letter-spacing: -1.1px;}

/* Main */
#visual_main .item_1 .text {margin-top: -83px;}
#main_event .evt-area .evt-box .evt-tit {font-size: 13px;}

/* ホテル紹介 */
.about dd {word-break: break-all;}
#company01 td {text-align: left;}
#company01 .text p {letter-spacing: -0.5px;}

/* 客室案内 */
.page_copy .room_info {font-size: 17px; word-break: break-all;}
#pg_title h2 {font-size: 22px; letter-spacing: -2.5px;}







/* device 320 */
@media (max-device-width: 320px) {
    /* common */
    .df_tb, .df_tb th {font-size: 12px;}
    
    /* Main */
    #main_event .centerThis {margin: 0 11px;}
    
    /* ホテル紹介 */
    .page_copy dt, .page_copy dd {font-size: 20px;}
    
    /* 客室案内 */
    .page_copy .room_info {font-size: 16px;}
    #pg_title h2 {font-size: 20px;}
}










